body{

}

#messages{
  width: 96%;
  height: 85vh;
  border: 3px solid black;
  border-radius: 3px;
  overflow-y: auto;
  color: white;
  font-size: 1.2em;
}

ul{
  list-style: none;
}

.me{
  clear:both;
  padding: 5px;
  margin: 3px;
  float: left;
  background-color: #39ACAC;
  border-radius: 50px 50px 50px 0;
}

.intelligence{
  clear:both;
  position: relative;
  display: block;
  padding: 5px;
  float: right;
  background-color: #BF4040;
  border-radius: 50px 50px 0 50px;
}

input{
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 45px;
  font-size: 2em;
}
